.container {
    margin: 25px 0;
    font-size: 16px;
    text-align: center;
    /* color: gray; */
    font-weight: bold;
}
.socialbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 5px;
    margin-left: 27px;
    border: 1px solid #8a8a8a;
    padding: 5px 24px 5px 30px;
    font-weight: bold;
    width: 80%;
    background-color: #fff;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 23% 50%;
}
.socialbtn:hover {
    background-color: #f0f0f0;
}
.socialbtn img {
    width: 20px;
    margin: 2px;
}
.redirecting {
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
}